Source: droidian-berb-apt-keyrings
Maintainer: berbascum <berbascum@ticv.cat>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3

Package: droidian-berb-apt-keyrings
Architecture: all
Pre-Depends: apt,
Depends: ${misc:Depends},
         ca-certificates,
Description: APT keyrings for droidian-berb github apt repo
